body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

h1 {
    font-size: 31px;
}

h2 {
    font-size: 36px;
    color: rgb(3, 27, 78);
}

h2.opposity {
    color: white;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

.btn.btn-default {
    margin-right: 16px;
    padding: 6px 15px;
    border-color: rgb(0, 106, 255);
    color: rgb(0, 106, 255);
    font-size: 14px;
    font-weight: 700;
}

.btn.btn-default:hover {
    background-color: rgb(0, 106, 255) ;
    color: white;
}

.btn.btn-primary {
    padding: 6px 15px;
    background-color: rgb(0, 106, 255);
    border-color: rgb(0, 106, 255);
    font-size: 14px;
    font-weight: 700;
}
/*-----------header-----------*/
.header-top {
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    visibility: hidden;
    background-color: white;
}

.news {
    width: 50%;
    height: 100%;
    float: left;
}

.nav {
    width: 50%;
    height: 100%;
    float: left;
}

.header-top span {
    padding: 4px 9px;
    margin-right: 10px;
    line-height: 40px;
    font-size: 9px;
    color: rgb(3, 27, 78);
    background-color: rgb(0, 215, 210);
    border-radius: 5px;
}

.header-top a {
    display: inline-block;
    font-size: 12px;
    color: rgb(91, 105, 135);
    text-decoration: none;
}

.glyphicon.glyphicon-menu-down {
    font-size: 10px;
    color: rgb(91 104 134);
}

.header-top a:hover {
    color: rgb(0 106 255);
}

.header-top p::after {
    content:'\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-size: 12px;
    position: relative;
    top: 1px;
    left: 2px;
}

.header-top ul {
    list-style-type: none;
}

.header-top li {
    display: inline-block;
    line-height: 40px;
    padding-left: 25px;
}
.navbar-default {
    background-color: white;
    border: none;
}

.header-bottom {
    width: 100%;
    background-color: white;
    height: 60px;
    border-top: 1px solid rgb(229, 232, 237);
}

img.logo {
    width: 172px;
    height: 28px;
}

ul.menu {
    padding-left: 20px;
}
li.menu {
    display: inline-block;
    line-height: 60px;
    padding: 0 5px;
}

a.menu {
    color: rgb(3, 27, 79);
    text-decoration: none;
}

a.menu:hover {
    color: rgb(0, 106, 255);
}

a.logo-link {
    line-height: 60px;
}

.btn.sign {
    margin-top: 13px;
}
/*--------header---------*/
/*--------jumbotron-----------*/
.jumbotron {
    margin-top: 100px;
    background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
}

.jumbotron a.info:hover {
    text-decoration: none;
}

.jumbotron p {
    font-size: 14px;
    background-color: rgb(3, 27, 78);
    color: white;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 50px;
}

.jumbotron p:hover {
    transition: 1s;
    background-color: rgb(21, 205, 114);
}

.jumbotron h1 {
    color: white;
}

.jumbotron p.text {
    font-size: 24px;
    background-color: transparent;
    font-weight: 300;
}

.card {
    background-color: white;
    border-radius: 6px;
    max-width: 370px;
}

.card-header {
    background-color: rgb(243, 245, 249);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding-top: 16px;
    padding-bottom: 12px;
}

.card-content {
    padding: 32px;
    border-bottom: 1px solid rgb(243, 245, 249);
}

.card-cta {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 28px;
    margin-right: 28px;
}

input.data {
    width: 100%;
    padding: 16px;
    margin-bottom: 8px;
    border: 1px solid rgb(229, 232, 237);
    border-radius: 3px;
    font-size: 16px;
    color: #031b4e;
}

input.data:focus {
    outline: 1px solid rgb(0, 105, 255);
}

.card-header h3 {
    margin: 0;
}

.card-content button.btn.btn-primary {
    padding-top: 13px;
    padding-bottom: 13px;
    width: 100%;
    font-size: 16px;
}

.card-content button.btn.btn-primary:hover {
    background-color: rgb(22 51 255);
}

.card-cta button.btn.btn-default {
    margin: 0;
    font-size: 16px;
}

.card-cta button.btn.btn-default.google {
    padding: 13px 30px 16px;
}

.card-cta button.btn.btn-default.google:hover {
    border-color: #5b6886;
    color: #363636;
    background-color: transparent;
}

.card-cta button.btn.btn-default.github {
    padding: 13px;
    font-size: 18px;
}

.card-cta button.btn.btn-default.github:hover {
    border-color: #5b6886;
    color: rgb(0, 106, 255);
    background-color: transparent;
}

.jumbotron p.text.terms {
    font-size: 12px;
}

.jumbotron p a {
    color: white;
}
/*----------media-query----------*/
/*----------section partners----------*/
main {
    background-color: rgb(243 245 249);
}

.partners {
    padding: 64px 24px;
}

.partners h4 {
    color: rgb(91, 105, 135);
}

.partners a {
    font-size: 16px;
    color: rgb(0, 105, 255);
}

.a-logogrid {
    margin: 20px 0 10px;
}

.partners a:hover {
    color: rgb(22, 51, 255);
    text-decoration: none;
}

.partners a i {
    font-size: 12px;
}
/*--------section configurations---------*/
.configurations {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.configurations p.intro {
    margin-bottom: 100px;
    font-size: 20px;
    color: rgb(91 105 135);
    font-weight: 300;
}
.configurations ul {
    padding-left: 0;
    border-bottom: 2px solid rgba(3, 27, 78, 0.6);
}

.configurations a {
    padding: 15px 20px;
    font-size: 16px;
    color: rgba(3, 27, 78, 0.6);
}

.configurations a:hover {
    text-decoration: none;
}

.configurations a:focus {
    color: rgb(3, 27, 78);
    text-decoration: none;
    border-bottom: 2px solid rgb(22, 51, 255);
}

.configurations h3 {
    color: rgb(3 27 78);
}

.configurations p{
    font-size: 16px;
    color: rgb(91 105 135);
    font-weight: 300;
}
/*--------section recipients--------*/
.recipients {
    padding-top: 100px;
    padding-bottom: 100px;
}

.recipients p.intro {
    margin-bottom: 50px;
    font-size: 20px;
    color: rgb(3 27 78);;
    font-weight: 300;
}

.indicator {
    color: rgb(3 27 78);
    position:relative;
    top: 250px;
}

.recipients p {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    color: rgb(91 105 135);
    font-weight: 300;
}

.pallino {
    height: 10px;
    width: 10px;
    background-color: white;
    border: 2px solid rgb(0, 105, 255);
    border-radius: 100%;
}

.pallino:focus {
    background-color: rgb(0, 105, 255);
}
/*--------media query---------*/
@media screen and (min-width: 768px) {
    .jumbotron h1 {
        font-style: 58px;
    }
}
@media screen and (min-width: 992px) {
    .header-top {
        visibility: visible;
    }
    .jumbotron p {
        font-size: 16px;
    }
    .jumbotron h1 {
        text-align: left;
    }
    .jumbotron p.intro {
        text-align: left;
    }
    .jumbotron p.text {
        text-align: left;
    }
    .card {
        min-width: 370px;
    }
    .jumbotron-text {
        padding-top: 100px;
    }
    .configurations ul {
        border-bottom: none;
        border-left: 2px solid rgba(3, 27, 78, 0.6);
    }
    .configurations a:focus {
        border-bottom: none;
        border-left: 2px solid rgb(22, 51, 255);
    }
    .configurations li.menu {
        display: block;
        text-align: left;
    }
    .configurations h3 {
        text-align: left;
    }
    .configurations p {
        text-align: left;
    }
    .configurations-img {
        text-align: left;
    }
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
}

@media screen and (min-width: 1200px) {
    .navbar-header {
        float: left;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
    }
}
