body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

h1 {
    font-size: 31px;
}

h2 {
    font-size: 36px;
    color: rgb(3, 27, 78);
}

h2.opposity {
    color: white;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

.btn.btn-default {
    margin-right: 16px;
    padding: 6px 15px;
    border-color: rgb(0, 106, 255);
    color: rgb(0, 106, 255);
    font-size: 14px;
    font-weight: 700;
}

.btn.btn-default:hover {
    background-color: rgb(0, 106, 255) ;
    color: white;
}

.btn.btn-primary {
    padding: 6px 15px;
    background-color: rgb(0, 106, 255);
    border-color: rgb(0, 106, 255);
    font-size: 14px;
    font-weight: 700;
}
/*-----------header-----------*/
.header-top {
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
}

.news {
    width: 50%;
    height: 100%;
    float: left;
}

.nav {
    width: 50%;
    height: 100%;
    float: left;
}

.header-top span {
    padding: 4px 9px;
    margin-right: 10px;
    line-height: 40px;
    font-size: 9px;
    color: rgb(3, 27, 78);
    background-color: rgb(0, 215, 210);
    border-radius: 5px;
}

.header-top a {
    display: inline-block;
    font-size: 12px;
    color: rgb(91, 105, 135);
    text-decoration: none;
}

.glyphicon.glyphicon-menu-down {
    font-size: 10px;
    color: rgb(91 104 134);
}

.header-top a:hover {
    color: rgb(0 106 255);
}

.header-top p::after {
    content:'\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-size: 12px;
    position: relative;
    top: 1px;
    left: 2px;
}

.header-top ul {
    list-style-type: none;
}

.header-top li {
    display: inline-block;
    line-height: 40px;
    padding-left: 25px;
}
.navbar-default {
    background-color: white;
    border: none;
}

.header-bottom {
    width: 100%;
    background-color: white;
    height: 60px;
    border-top: 1px solid rgb(229, 232, 237);
}

.navbar-toggle.collapsed {
    border: none;
}

.navbar-toggle.collapsed:hover {
    background: none;
}

img.logo {
    width: 172px;
    height: 28px;
}
 ul.menu {
    max-width: 700px;
    display: inline-block;
 }
li.menu {
    display: inline-block;
    line-height: 70px;
    padding: 0 5px;
}

a.menu {
    color: rgb(3, 27, 79);
    text-decoration: none;
}

a.menu:hover {
    color: rgb(0, 106, 255);
}

a.logo-link {
    line-height: 60px;
}

.button.text-right {
    max-width: 200px;
    margin-top: 5px;
    margin-right: 0;
    display: inline-block;
    float: right;
}

.btn.sign {
    margin-top: 13px;
}
/*--------header---------*/
/*--------jumbotron-----------*/
.jumbotron {
    margin-top: 40px;
    background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
}

.jumbotron a.info:hover {
    text-decoration: none;
}

.jumbotron p {
    font-size: 14px;
    background-color: rgb(3, 27, 78);
    color: white;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 50px;
}

.jumbotron p:hover {
    transition: 1s;
    background-color: rgb(21, 205, 114);
}

.jumbotron h1 {
    color: white;
}

.jumbotron p.text {
    font-size: 24px;
    background-color: transparent;
    font-weight: 300;
}

.card {
    background-color: white;
    border-radius: 6px;
    max-width: 370px;
}

.card-header {
    background-color: rgb(243, 245, 249);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding-top: 16px;
    padding-bottom: 12px;
}

.card-content {
    padding: 32px;
    border-bottom: 1px solid rgb(243, 245, 249);
}

.card-cta {
    height: 117px;
    margin-left: 28px;
    margin-right: 28px;
}

input.data {
    width: 100%;
    padding: 16px;
    margin-bottom: 8px;
    border: 1px solid rgb(229, 232, 237);
    border-radius: 3px;
    font-size: 16px;
    color: #031b4e;
}

input.data:focus {
    outline: 1px solid rgb(0, 105, 255);
}

.card-header h3 {
    margin: 0;
}

.card-content button.btn.btn-primary {
    padding-top: 13px;
    padding-bottom: 13px;
    width: 100%;
    font-size: 16px;
}

.card-content button.btn.btn-primary:hover {
    background-color: rgb(22 51 255);
}

.card-cta button.btn.btn-default {
    font-size: 14px;
    float: left;
    margin-top: 32px;
}

.card-cta button.btn.btn-default.google {
    padding: 13px 0;
    width: 80%;
    margin-right: 10px;
}

.card-cta button.btn.btn-default.google:hover {
    border-color: #5b6886;
    color: #363636;
    background-color: transparent;
}

.card-cta button.btn.btn-default.github {
    padding: 11px 0;
    margin-right: 0;
    font-size: 18px;
    width: calc(20% - 14px);
}

.card-cta button.btn.btn-default.github:hover {
    border-color: #5b6886;
    color: rgb(0, 106, 255);
    background-color: transparent;
}

.jumbotron p.text.terms {
    font-size: 12px;
}

.jumbotron p a {
    color: white;
}
/*----------media-query----------*/
/*----------section partners----------*/
main {
    background-color: rgb(243 245 249);
}

.partners {
    padding: 64px 24px;
}

.partners h4 {
    color: rgb(91, 105, 135);
}

.partners a {
    font-size: 16px;
    color: rgb(0, 105, 255);
}

.a-logogrid {
    margin: 20px 0 10px;
}

.partners a:hover {
    color: rgb(22, 51, 255);
    text-decoration: none;
}

.partners a i {
    font-size: 12px;
}
/*--------section configurations---------*/
.configurations {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.configurations p.intro {
    margin-bottom: 100px;
    font-size: 20px;
    color: rgb(91 105 135);
    font-weight: 300;
}

.configurations ul {
    padding-left: 0;
}

.configurations li {
    display: inline;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(3, 27, 78, 0.6);
}
.configurations-img {
    margin-top: 10px;
}
.configurations a {
    padding: 9px 20px;
    font-size: 14px;
    color: rgba(3, 27, 78, 0.6);
}

.configurations a:hover {
    text-decoration: none;
}

.configurations a:focus {
    color: rgb(3, 27, 78);
    text-decoration: none;
    border-bottom: 2px solid rgb(22, 51, 255);
}

.configurations h3 {
    color: rgb(3 27 78);
}

.configurations p{
    font-size: 16px;
    color: rgb(91 105 135);
    font-weight: 300;
}
/*--------section recipients--------*/
.recipients {
    padding-top: 100px;
    padding-bottom: 100px;
}

.recipients p.intro {
    margin-bottom: 50px;
    font-size: 20px;
    color: rgb(3 27 78);;
    font-weight: 300;
}

.indicator {
    color: rgb(3 27 78);
    position:relative;
    top: 250px;
}

.recipients p {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    color: rgb(91 105 135);
    font-weight: 300;
}

.pallino {
    height: 10px;
    width: 10px;
    background-color: white;
    border: 2px solid rgb(0, 105, 255);
    border-radius: 100%;
}

.pallino:focus {
    background-color: rgb(0, 105, 255);
}
/*---------scope section-------*/
.services {
    background-color: white;
    padding: 50px 0;
}

.services img {
    margin-top: 80px;
}

.services h3 {
    color: rgb(3 27 78);
    font-size: 18px;
}

.services p{
    padding: 10px 0;
    font-size: 16px;
    color: rgb(91 105 135);
    font-weight: 300;
}

.services a{
    font-size: 16px;
    color: rgb(0 106 255);
}

.services a:hover {
    color: rgb(22 51 255);
    text-decoration: none;
}

.services a::after {
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-size: 14px;
    position: relative;
    left: 5px;
}
/*--------data-center--------*/
.data-center {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(https://prismic-io.s3.amazonaws.com/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg);
    background-color: rgb(3 27 78);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.data-center p {
    margin-bottom: 50px;
    font-size: 20px;
    color: white;
    font-weight: 300;
}

.data-center a {
    color: rgb(0 105 255);
}

.data-center a:hover {
    color: rgb(22 51 255);
    text-decoration: none;
}

.data-center li {
    display: inline-block;
}

.table {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 5px 0;
}

span.text-table {
    color: white;
    font-weight: 700;
}

p.text-table {
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin: 0;
    opacity: 0.6;
    /*padding-left: 40px;
    padding-right: 140px;*/
}

a.text-table {
    color: rgb(0, 215, 210);
}

a.text-table::after {
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    position: relative;
    left: 2px;

}
/*--------section story--------*/
.story {
    padding: 50px 0;
}

.story p.intro {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    color: rgb(3 27 78);
    font-weight: 300;
}

.story a {
    color: rgb(0, 105, 255);
}

.story a:hover {
    color: rgb(22 51 255);
    text-decoration: none;
}

#box {
    padding: 60px;
    background-color: white;
    margin-bottom: 40px;
}

img.box {
    max-width: 200px;
    margin-bottom: 30px;
}

p.box-story {
    color: rgb(91, 105, 135);
    font-size: 24px;
    font-weight: 300;
}

a.box-story {
    font-size: 16px;
}

p.box-story.name {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 4px;
}

p.box-story.position {
    font-size: 12px;
    margin-bottom: 0;
}
/*--------section start--------*/
.start {
    background-image: url(https://prismic-io.s3.amazonaws.com/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg);
    background-color: rgb(0, 105, 255);
    padding: 50px 0;
}

.start h1 {
    font-size: 36px;
    color: white;
}

.start button.btn.btn-default {
    margin-top: 20px;
    padding: 20px 28px;
    font-size: 16px;
    display: inline-block;
}

.start button.btn.btn-default:hover {
    background-color: rgba(225,225,225,0.9);
    color:  rgb(0, 106, 255);
}
/*--------footer top--------*/
footer {
    background-color: rgb(1, 14, 40);
    padding: 50px 0;
}

.footer-top {
    padding-bottom: 20px;
}

.footer-bottom {
    padding-top: 20px;
}

footer hr {
    width: calc(100% - 50px);
}

footer h4 {
    margin: 30px 0 28px;
    padding-left: 40px;
    color: white;
    font-weight: 300;
}
footer #logo {
    float: right;
}

footer li {
    list-style-type: none;
    margin-bottom: 10px;

}

footer a {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

footer p {
    line-height: 50px;
}

.footer-bottom ul {
    padding-left: 0;
}

.footer-bottom li {
    display: inline-block;
    margin-right: 5px;
}

.social-icons {
    padding-left: 50px;
}

.social-icons img {
    width: 21px;
    filter: contrast(0%);
}

/*--------media query---------*/
@media screen and (min-width: 768px) {
    .jumbotron h1 {
        font-style: 58px;
    }
    .start button.btn.btn-default {
        margin-top: 10px;
    }
}
@media screen and (min-width: 992px) {
    .jumbotron {
        margin-top: 100px;
    }
    .jumbotron p {
        font-size: 16px;
    }
    .jumbotron h1 {
        text-align: left;
    }
    .jumbotron p.intro {
        text-align: left;
    }
    .jumbotron p.text {
        text-align: left;
    }
    .card {
        min-width: 370px;
    }
    .jumbotron-text {
        padding-top: 100px;
    }
    .card-cta button.btn.btn-default {
        font-size: 16px;
    }
    .configurations li {
        padding-bottom: 0;
        border-bottom: none;
        border-left: 2px solid rgba(3, 27, 78, 0.6);
    }
    .configurations a {
        font-size: 16px;
    }
    .configurations a:focus {
        border-bottom: none;
        border-left: 2px solid rgb(22, 51, 255);
    }
    .configurations li.menu {
        display: block;
        text-align: left;
    }
    .configurations h3 {
        text-align: left;
    }
    .configurations p {
        text-align: left;
    }
    .configurations-img {
        text-align: left;
    }
    .services-img {
        text-align: left;
    }
    .services-info{
        text-align: left;
    }
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
}

@media screen and (min-width: 1200px) {
    .navbar-header {
        float: left;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
    }
}
