body {
    font-family: 'Roboto', sans-serif;
}
/*-----------header-top-----------*/
.header-top {
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    visibility:hidden;
}

.news {
    width: 50%;
    height: 100%;
    float: left;
}

.nav {
    width: 50%;
    height: 100%;
    float: left;
}

.header-top span {
    padding: 4px 9px;
    margin-right: 10px;
    line-height: 40px;
    font-size: 9px;
    color: rgb(3, 27, 78);
    background-color: rgb(0, 215, 210);
    border-radius: 5px;
}

.header-top a {
    display: inline-block;
    font-size: 12px;
    color: rgb(91, 105, 135);
    text-decoration: none;
}

.header-top a:hover {
    color: rgb(0 106 255);
}

.header-top ul {
    list-style-type: none;
}

.header-top li {
    display: inline-block;
    line-height: 40px;
    padding-left: 25px;
}
/*----------header-top---------*/
/*----------header-bottom-----------*/
/*----------media-query----------*/
@media screen and (min-width: 992px) {
    .header-top {
        visibility: visible;
    }
}
